python-dotenv
protobuf==3.20.3
streamlit

scikit-learn==1.6.1
xgboost
pandas
numpy<2.0
seaborn
matplotlib
joblib
pyngrok
langchain
langchain-community
langgraph
langchain-groq
langchain-chroma
langchain-huggingface
sentence-transformers
chromadb
posthog==2.4.2