streamlit
scikit-learn
xgboost
pandas
numpy
seaborn
matplotlib
joblib
pyngrok
google-generativeai
langchain
langchain-community
langgraph
langchain-groq
langchain-google-genai
langchain-chroma
sentence-transformers
